:root {
    --font-size: 15px;
    --header-background: url(../assets/g2dh.gif);
    --header-padding: 0px;
    --main-background: #69473a;
    --main-padding: 20px;
    --main-font-color: white;
    --main-gap: 20px;
    --technologies-container-padding: 20px;
    --technologies-background: white;
    --technologies-font-color: black;
    --technologies-border-radius: 10px;
    --technologies-gap: 20px;
    
    --footer-background: #432f27;
    --profileimage-size: 140px;
   
    --header-height: 220px;
    --footer-height: 60px;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: "header header" "main main" "footer footer";
    grid-template-rows: var(--header-height) 1fr var(--footer-height);
    height: 100vh;
    margin: 0;
    font-size: var(--font-size);
}




header {
    grid-area: header;
    background: var(--header-background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: var(--header-padding);
    
}




#profile {
    border-radius: 50%;
    width: var(--profileimage-size);
    height: var(--profileimage-size);
    
    position: relative;
    top: calc(50% - var(--profileimage-size) / 6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

main {
    grid-area: main;
    background:var(--main-background);
    padding: var(--main-padding);
    color: var(--main-font-color);
    display: flex;
    justify-content: center;
    gap: var(--main-gap);
    font-weight: bold;
}

.technologies-container{
    display: flex;
    flex-direction: column;
    margin-top: calc(var(--profileimage-size) - var(--profileimage-size) / 2 );
    width: 250px;
    padding: var(--technologies-container-padding);
    background: var(--technologies-background);
    color: var(--technologies-font-color);
    border-radius: var(--technologies-border-radius);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    gap: var(--technologies-gap);
    max-width: 100%;

}

footer {
    grid-area: footer;
    background: var(--footer-background);
}


.front-and-back-container{
    background-color: white;
    width: 240px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    user-select: none;
}


.front-and-back-container div {
    margin: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.front-and-back-container div:active {
  font-weight: bold;
}


.activated-tab{
    border-bottom: 5px solid rgb(254, 140, 0);
   
}